header {
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#barra {
    border-bottom: 3px solid gray;
    top: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.itens {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: end;
}
#mostrar {
    position: absolute;
    top: 200px;
} 

.mostrarm {
    border-bottom: 5px solid black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
}

#esquerda {
     position: absolute;
     top: 0%;
    left: 0%;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    top: 10%;
     }
 #div1 {
    position: absolute;
    top: 225px;
    border-bottom: 5px solid gray;
    width: 273px;
    left: 5%;
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}
.cinza {
    color: gray;
    font-size: 30px;
    margin-bottom: 3px;
    margin-top: 1px;
    
 }
#texto{
 position: absolute;
    left: 1%;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#ex{
 position: absolute;
 top: 18%;
    left: 80%;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#filtrar{
position: absolute;
 top: 19%;
    left: 80%;
}

#div2{
position:absolute;
top:225px
border-bottom 5px solid gray;
width: 273px;
left:5%;
animation:fadeln 2s ease-in-out forwards;
opacity:0;

}
#batom1{
 position: absolute;
 top: 170%;
    left: 5%;
    width: 260px;
    height: 300px;
}

#batom2{
 position: absolute;
 top: 170%;
    left: 25%;
    width: 260px;
    height: 300px;
}
#batom3{
 position: absolute;
 top: 170%;
    left: 70%;
    width: 260px;
    height: 300px;
   
}
#batom4{
 position: absolute;
 top: 170%;
    left: 47%;
    width: 260px;
    height: 300px;
   
}
#preco3{
   position: absolute;
 top: 650%;
    left: 53%;
    text-align: center;
}
#preco2{
   position: absolute;
 top: 650%;
    left: 75%;
    text-align: center;
}
#preco1{
position: absolute;
 top: 650%;
    left: 11%;
    text-align: center;
}
#preco4{
position:absolute;
top: 650%;
    left: 29%;
    text-align: center;

}
.filter {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.192);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
  transition: all 0.3s;

}
filter svg {
  height: 16px;
  fill: rgb(77, 77, 77);
  transition: all 0.3s;
  }
.filter:hover {
  
  background-color: rgb(59, 59, 59);
}
.filter:hover svg {
  fill: white;
}
#text12{
   cursor: pointer;
  position: relative;
  top: 510px;
  right: 655px;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);

}
.check {
  cursor: pointer;
  position: relative;
  top: 525px;
  right: 310px;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: #4a4747;
}

#cbx:checked + .check svg {
  stroke: #000000;
}

#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
