header {
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#barra {
    border-bottom: 3px solid gray;
    top: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.itens {
    position: relative;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: end;
    right: 2%;

}
#mostrar {
    position: absolute;
    top: 200px;
} 

.mostrarm {
    border-bottom: 5px solid black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
}

#esquerda {
     position: absolute;
    left: 0;
    top:30%;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
     }
 #div1 {
    position: absolute;
    top: 225px;
    border-bottom: 5px solid gray;
    width: 273px;
    left: 5%;
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}
.cinza {
    color: gray;
    font-size: 30px;
    margin-bottom: 3px;
    margin-top: 1px;
    
 }
#texto{
 position: absolute;
    left: 1%;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#ex{
 position: absolute;
 top: 18%;
    left: 80%;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #c8c6c6;
  --border-color: #000000;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: absolute;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  top:35%;
  right: 1%;
}
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}